.btn {
    --btnColor: #14B8A6;
    --btnFontColor: #fff;
    --btnHoverColor: rgba(0,0,0,.3);

    position: relative;
    padding: 12px;
    font-family: "Bebas Neue", serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    border-radius: 0;
    color: var(--btnFontColor);
    border: 2px solid var(--btnColor);
    background-color: var(--btnColor);
    cursor: pointer;

    &-square {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;

        .btn__inner {
            display: flex;
        }
    }

    &-red {
        --btnColor: #EC4899;
    }

    &-green {
        --btnColor: #14B8A6;
    }

    &-blue {
        --btnColor: #6366F1;
    }

    &-black {
        --btnColor: #1F2937;
    }

    &__inner {
        position: relative;
        z-index: 20;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--btnHoverColor);
        z-index: 10;
        border-radius: 0;
        transition: opacity 0.3s;
        opacity: 0;
    }

    &:hover {

        &:before {
            opacity: 1;
        }
    }

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.65);
        z-index: 30;
        width: 48px;
        height: 48px;
    }
}