:root {
    --btn-bg-color: #14B8A6;
    --btn-font-color: #fff;
    --btn-hover-color: rgba(0,0,0,.3);
    --btn-padding:  8px 16px 7px;
    --btn-border-radius: 0px;
    --btn-border-size: 2px;
    --btn-font-size: 18px;
    --btn-font-family: "Bebas Neue", serif;
}

.btn {
    position: relative;
    text-align: center;
    cursor: pointer;

    padding: var(--btn-padding);
    font-family: var(--btn-font-family);
    font-size: var(--btn-font-size);
    border-radius: var(--btn-border-radius);
    color: var(--btn-font-color);
    border: var(--btn-border-size) solid var(--btn-bg-color);
    background-color: var(--btn-bg-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &--small {
        --btn-font-size: 14px;
        --btn-padding: 6px 12px 7px;
        --btn-border-size: 1px;
    }

    &--outlined {
        background-color: transparent;
        color: var(--btn-bg-color);
        border: 2px solid var(--btn-bg-color);

        &:hover {
            background-color: var(--btn-bg-color);
            color: var(--btn-font-color);
        }
    }

    &-square {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;

        .btn__inner {
            display: flex;
        }
    }

    &-red {
        --btn-bg-color: #EC4899;
    }

    &-green {
        --btn-bg-color: #14B8A6;
    }

    &-blue {
        --btn-bg-color: #6366F1;
    }

    &-black {
        --btn-bg-color: #1F2937;
    }

    &__inner {
        position: relative;
        z-index: 20;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--btn-hover-color);
        z-index: 10;
        border-radius: 0;
        transition: opacity 0.3s;
        opacity: 0;
    }

    &--filled:hover {

        &:before {
            opacity: 1;
        }
    }

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.65);
        z-index: 30;
        width: 48px;
        height: 48px;
    }
}