:root {
    --card-bg-color: var(--color-black-light);
    --card-font-color: var(--color-white);
    --card-border-radius: var(--border-radius);
    --card-padding: 24px;
    --card-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 4px 25px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(0, 0, 0, 0.1), 0 4px 15px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.1);
}

.card {
    width: 100%;
    padding: var(--card-padding);
    background-color: var(--card-bg-color);
    border-radius: var(--card-border-radius);
    color: var(--card-font-color);
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 768px) {
        --card-padding: 32px;
    }

    &--white {
        --card-bg-color: #fff;
        --fields-bg-color: #f9f9f9;
        --fields-label-font-color: var(--color-black);
        --fields-placeholder-color: #0000008c;
        --fields-font-color: #000;
    }

    &--green {
        --card-bg-color: var(--color-green);
        --fields-label-font-color: var(--color-black);
        --fields-placeholder-color: var(--color-white-transparent);
        --fields-font-color: #fff;

    }
}