.checkbox {
    --checkboxActiveColor: var(--fields-bg-color);
    --checkboxIconFilter: invert(100%) sepia(0%) saturate(3754%) hue-rotate(147deg) brightness(127%) contrast(100%);

    &--white {   
        --checkboxActiveColor: var(--color-green);
        --fields-bg-color: var(--color-green);
    }

    display: block;
    cursor: pointer;
    position: relative;
    font-family: "Open Sans", serif;
    font-weight: 300;

    &__label {
        font-size: 14px;
        color: white;
        position: relative;
        width:100%;
        display: flex;
        align-items: flex-start;
        line-height: 1.5;

        &:hover {
            filter: brightness(0.9);
        }

        &:before {
            content: '';
            min-width: 20px;
            height: 20px;
            border: 1px solid var(--fields-bg-color);
            display: inline-block;
            border-radius: 2px;
            margin-right: 8px;
            vertical-align: text-top;
            transition: background-color .4s, border-color .4s;
            background-color: transparent;

            .checked & {
                background-color: var(--fields-bg-color);
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            min-width: 20px;
            height: 20px;
            background-image: url('@/assets/icons/check-icon.svg');
            background-size: 20px 16px;
            background-position: center center;
            background-repeat: no-repeat;
            transform: scale(0) rotate(-130deg);
            transition-timing-function: ease-out;
            transition: transform .2s;
            filter: var(--checkboxIconFilter);

            .checked & {
                transform: scale(1) rotate(0)
            }
        }
    }

    &__input {
        display: none;
    }

    &__error {
        position: absolute;
        top: calc(100% + 4px);
        left:0;
        font-size: 12px;

        color: var(--color-error);
        font-weight: 700;

    }
}