:root {
    --modal-z-index: 9999;
    --modal-card-bg: #fff;
}

.modal {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: opacity 0.3s ease;
    padding: 24px 16px;
    overflow-y: auto;

    @media screen and (min-width: 1200px) {
      align-items: center;
    }

  &__card {
    position: relative;
    z-index: 20;
    padding: 24px;
    background-color: var(--color-white);
    transition: all 0.3s ease;
    overflow: hidden;
    overflow-y: auto;
    height: auto;
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    padding: 6px 8px;
    margin: 0;
    transition: opacity .3s;

    &:hover {
      opacity: .5;
    }
  }
}

// Animation
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;

  .modal__card {
    transform: translateY(20px);
  }
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-enter-to,
.modal-leave-from {
  opacity: 1;

  .modal__card {
    transform: translateY(0);
  }
}