.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255,.125);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &__head {
        th {
            padding: 0.75rem;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            font-weight: 600;
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &__body {
        td {
            padding: 0.75rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}