:root {
    --primary-font: "Open Sans", serif;
    --secondary-font: "Bebas Neue", serif;

    --font-bold: 700;
    --font-normal: 400;
    --font-light: 300;

    --base-font-weight: var(--font-light);
    --base-line-height: 1.5;
    
    --color-primary: var(--color-black);
    --color-secondary: var(--color-black);
    --color-tertiary: var(--color-white);

    --main-bg-color: var(--color-secondary);
    --main-font-color: var(--color-white);

    --border-radius: 0px;

    --z-10:  10;
    --z-20:  20;
    --z-30:  30;
    --z-sidebar: 100;
    --z-burger: 110;
    --z-modal: 200;
    --z-above-all: 9999;

    --link-color: #646cff;
    --link-hover-color: #535bf2;
  }

  .light-theme {
    --main-bg-color: var(--color-light-grey);
    --main-font-color: var(--color-black)
  }

  html {
    font-family: var(--primary-font);
    font-weight: var(--base-font-weight);
    line-height: var(--base-line-height);
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--main-bg-color);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  a {
    font-weight: 500;
    color: var(--link-color);
    text-decoration: inherit;
  }

  a:hover {
    color: var(--link-hover-color);
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;

    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  input,
  textarea,
  select {
    outline: none;
    background: transparent;
  }

  #app {  
    text-align: center;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
  }