:root {
    --fields-border-width: 1px;
    --fields-border-radius: 0px;
    --fields-border-color: transparent;
    --fields-border-color-error: var(--color-rose);
    --fields-border-style: solid;
    --fields-border: var(--fields-border-width) var(--fields-border-style) var(--fields-border-color);
    --fields-bg-color: var(--main-bg-color);
    --fields-bg-color-dark: rgba(0, 0, 0, 0.25);
    --fields-placeholder-color: var(--color-off-white);
    --fields-font-color: var(--color-white);
    --fields-font-size: 16px;
    --fields-font-weight: 400;

    --fields-label-font-color: var(--color-green);

    --select-box-select-bg: var(--fields-bg-color);
    --select-box-select-color: var(--color-white);
    --select-box-select-border: var(--fields-border);
    --select-box-option-bg: var(--color-white);
    --select-box-option-font-color: var(--color-black);
    --select-box-dropdown-color: var(--color-green);

    --multibox-bg-color: var(--fields-bg-color);
    --multibox-border: var(--fields-border);
    --multibox-font-color: var(--fields-font-color);
    --multibox-placeholder-color: var(--fields-placeholder-color);

    --multibox-search-bg-color: var(--fields-bg-color);

    --multibox-dropdown-bg-color: var(--color-black);
    --multibox-dropdown-font-color: var(--color-black);
    --multibox-dropdown-border: var(--fields-border);
    --multibox-dropdown-option-hover-bg-color: var(--fields-bg-color-dark);
    --multibox-font-size: var(--fields-font-size);

    --multibox-tile-bg-color: var(--color-green);
    --multibox-tile-font-color: var(--color-black);
    --multibox-tile-hover-bg-colorr: var(--color-rose);

    --multibox-footer-border-top-color: var(--color-green);
    --multibox-footer-btn-color: var(--color-blue);
    --multibox-footer-btn-hover-color: var(--color-rose);
    --multibox-footer-btn-font-color: var(--color-white);

}

.light-theme {
    --fields-border-color-error: var(--color-rose);
    --fields-bg-color: var(--color-light-grey);
    --fields-bg-color-dark: rgba(0, 0, 0, 0.25);
    --fields-font-color: var(--color-main);
    --fields-placeholder-color: var(--color-main);
    --fields-label-font-color: var(--color-main);

    --select-box-select-bg: var(--fields-bg-color);
    --select-box-select-color: var(--color-main);
    --select-box-select-border: var(--fields-border);
    --select-box-option-bg: var(--color-white);
    --select-box-option-font-color: var(--color-black);
    --select-box-dropdown-color: var(--color-green);

    --multibox-bg-color: var(--fields-bg-color);
    --multibox-border: var(--fields-border);
    --multibox-font-color: var(--fields-font-color);
    --multibox-placeholder-color: var(--fields-placeholder-color);

    --multibox-search-bg-color: var(--fields-bg-color);

    --multibox-dropdown-bg-color: var(--color-light-grey);
    --multibox-dropdown-font-color: var(--color-main);
    --multibox-dropdown-border: var(--fields-border);
    --multibox-dropdown-option-hover-bg-color: var(--fields-bg-color-dark);

    --multibox-tile-bg-color: var(--color-green);
    --multibox-tile-font-color: var(--color-white);
    --multibox-tile-hover-bg-colorr: var(--color-rose);

    --multibox-footer-border-top-color: var(--color-green);
    --multibox-footer-btn-color: var(--color-blue);
    --multibox-footer-btn-hover-color: var(--color-rose);
    --multibox-footer-btn-font-color: var(--color-white);
}

.form {

    &__input,
    &__textarea,
    &__select {
        color: var(--fields-font-color);
        border: 1px solid var(--fields-border-color);
        background-color: var(--fields-bg-color);
        padding: 12px;
        font-size: var(--fields-font-size);

        &::placeholder {
            opacity: .5;
            color: var(--fields-placeholder-color);
            font-size: var(--fields-font-size);
        }

        &:focus {
            outline: none;
        }
    }

    &__select {
        position: relative;
        appearance: none;
        background: url('@/assets/icons/dropdown-icon.svg');
        background-color: var(--fields-bg-color);
        background-repeat: no-repeat;
        background-position: right 12px center;
        background-size: 24px 24px;
        padding-right: 48px;

        &::placeholder {
            color: var(--color-white);
        }

        option {
            color: var(--select-box-option-font-color);
        }
    }

    &__label {
        display: block;
        font-family: "Bebas Neue", serif;
        font-weight: bold;
        color: var(--fields-label-font-color);
        font-size: var(--fields-font-size);
    }

}


.error {
    color: var(--color-error);
    font-size: 12px;
    margin-top: 4px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;

}