.blob-enter-from, .blob-leave-to {
	transform: scale(0);
}
.blob-enter-active {
	transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.blob-leave-active {
	transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.fade-up-enter-from, .fade-up-leave-to {
	opacity: 0;
	transform: translateY(1.5rem);
}
.fade-up-enter-active {
	transition: all 300ms ease-out;
}
.fade-up-leave-active {
	transition: all 300ms ease-in;
}

.fade-up-sm-enter-from,
.fade-up-sm-leave-to {
	opacity: 0;
	transform: translateY(.5rem);
}
.fade-up-sm-enter-active,
.fade-up-sm-leave-active {
	transition: opacity .3s, transform .3s;
}

///

.fade-in-enter-from, .fade-up-leave-to {
	opacity: 0;
}
.fade-in-enter-active {
	transition: opacity 300ms ease-out;
}
.fade-in-leave-active {
	transition: opacity 300ms ease-in;
}

.fade-in-sm-enter-from,
.fade-in-sm-leave-to {
	opacity: 0;
}
.fade-in-sm-enter-active,
.fade-in-sm-leave-active {
	transition: opacity .3s;
}

//

.offline-toast-enter-from, .offline-toast-leave-to {
	opacity: 0;
	transform: scale(0.9) translateY(-100px);
}
.offline-toast-enter-active, .offline-toast-leave-active {
	transition: opacity 200ms ease-out, transform 300ms ease;
}

.slide-in-enter-active,
.slide-in-leave-active {
  transition: all 0.3s ease;
}
.slide-in-enter-from,
.slide-in-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.3s ease;
}
.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(100%);
}

//
.minimize-enter-active,
.minimize-leave-active {
	transform-origin: top center;
	transition: all 0.3s ease;
}
.minimize-enter-from,
.minimize-leave-to {
	transform: scaleY(0);
}

