:root {
    --color-gradient: radial-gradient(circle, rgba(31,41,55,1) 57%, rgba(75,27,75,1) 75%, rgba(20,184,166,0.6615021008403361) 100%);

    --primary-font: "Open Sans", serif;
    --secondary-font: "Bebas Neue", serif;

    --font-bold: 700;
    --font-normal: 400;

    --container-width: 92%;
    --container-sm-max-width: 1024px;
    --container-max-width: 1280px;
    --container-lg-max-width: 1560px;

    --color-blue: #6366F1;
    --color-rose: #EC4899;
    --color-green: #14B8A6;
    --color-black: #1F2937;
    --color-black-light: #283446;
    --color-black-transparent: rgba(0, 0, 0, 0.5);
    --color-white: #fff;
    --color-white-transparent: rgba(255, 255, 255, 0.5);
    --color-off-white: #F9FAFB;
    --color-black-basic: #000;
    --color-error: var(--color-rose, rgb(121, 46, 46));

    --border-radius: 0px;
    --gradient-value: radial-gradient(circle, rgba(31,41,55,1) 57%, rgba(75,27,75,1) 75%, rgba(20,184,166,0.6615021008403361) 100%);

    --sidebar-bg-color: linear-gradient(to bottom, var(--color-black-light) 0%, var(--color-black) 100%);
    --sidebar-font-color: var(--color-white);
    --sidebar-font-size: 14px;
    --sidebar-font-weight: 400;
    --sidebar-active-link-color: var(--color-black);
    --sidebar-active-link-bg-color: var(--color-green);
    --sidebar-hover-link-color: var(--color-green);

    --fields-border-width: 1px;
    --fields-border-radius: 0px;
    --fields-border-color: transparent;
    --fields-border-color-error: var(--color-rose);
    --fields-border-style: solid;
    --fields-border: var(--fields-border-width) var(--fields-border-style) var(--fields-border-color);
    --fields-bg-color: var(--color-black-transparent);
    --fields-bg-color-dark: rgba(0, 0, 0, 0.25);
    --fields-placeholder-color: var(--color-off-white);
    --fields-font-color: var(--color-white);
    --fields-font-size: 16px;
    --fields-font-weight: 400;

    --fields-label-font-color: var(--color-green);

    --select-box-select-bg: var(--fields-bg-color);
    --select-box-select-color: var(--color-white);
    --select-box-select-border: var(--fields-border);
    --select-box-option-bg: var(--color-white);
    --select-box-option-font-color: var(--color-black);
    --select-box-dropdown-color: var(--color-green);

    --multibox-bg-color: var(--fields-bg-color);
    --multibox-border: var(--fields-border);
    --multibox-font-color: var(--fields-font-color);
    --multibox-placeholder-color: var(--fields-placeholder-color);

    --multibox-search-bg-color: var(--fields-bg-color);

    --multibox-dropdown-bg-color: var(--color-black);
    --multibox-dropdown-font-color: var(--color-black);
    --multibox-dropdown-border: var(--fields-border);
    --multibox-dropdown-option-hover-bg-color: var(--fields-bg-color-dark);
    --multibox-font-size: var(--fields-font-size);

    --multibox-tile-bg-color: var(--color-green);
    --multibox-tile-font-color: var(--color-black);
    --multibox-tile-hover-bg-colorr: var(--color-rose);

    --multibox-footer-border-top-color: var(--color-green);
    --multibox-footer-btn-color: var(--color-blue);
    --multibox-footer-btn-hover-color: var(--color-rose);
    --multibox-footer-btn-font-color: var(--color-white);

    --card-bg-color: var(--color-black-light);
    --card-border-radius: var(--border-radius);

    --z-10:  10;
    --z-20:  20;
    --z-30:  30;
    --z-sidebar: 100;
    --z-burger: 110;
    --z-modal: 200;

    --z-above-all: 9999;
}
