:root {
    --color-blue: #6366F1;
    --color-rose: #EC4899;
    --color-green: #14B8A6;
    --color-green-light: rgba(20, 184, 166, .5);
    --color-green-lightest: rgba(20, 184, 166, .1);

    --color-black: #1F2937;
    --color-black-light: #283446;
    --color-black-lightest: #334158;
    --color-black-transparent: rgba(0, 0, 0, 0.5);
    --color-white: #fff;
    --color-grey: #9CA3AF;
    --color-light-grey: #F3F4F6;
    --color-white-transparent: rgba(255, 255, 255, 0.5);
    --color-off-white: #F9FAFB;
    --color-black-basic: #000;
    --color-error: var(--color-rose, rgb(121, 46, 46));
}
