.field-bg {
    transition: background-color 0.3s ease-in-out;
    background-color: var(--fields-bg-color);

    &.hover:hover {
        background-color: var(--fields-bg-color-dark);
    }
}

.text-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}